@import "../../styles/variables.scss";

.searchInput {
  border: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;

  @media screen and (min-width: $screen-sm) {
    padding: 0.75rem 1rem;
    min-width: 15rem;
  }
}
