@import "../../styles/variables.scss";

.searchInput {
  border: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  transition: all 0.5s ease;
  max-width: 9rem;

  &:hover,
  &:focus {
    box-shadow: 0 0.25rem 1rem rgba($dark-900, 0.2);
  }

  &:focus {
    outline: 2px solid $primary-color;
  }

  @media screen and (min-width: $screen-sm) {
    padding: 0.75rem 1rem;
    min-width: 15rem;
  }
}
