@import "../../styles/variables.scss";

.appContainer {
  margin: 3rem auto;
  padding: 0.5rem;
  max-width: 80rem;

  @media screen and (min-width: $screen-xs) {
    padding: 1rem;
    margin-top: 4rem;
  }
}
